<div class="padding">

  <super-navbar>
    <super-navbar-title>
      Click
    </super-navbar-title>
    <super-navbar-button id="add" side="right" location="example#learn-more"> Add Event
    </super-navbar-button>
  </super-navbar>

  

  <super-navigate view-id="using-the-scanner">
    <button class="button button-block button-positive icon-left super-wand">Using the AppGyver Scanner</button>
  </super-navigate>

  <super-navigate view-id="learn-more">
    <button class="button button-block button-positive icon-left super-university">Learn more</button>
  </super-navigate>

    


</div>