<div class="list">

  
  <label class="item item-input item-stacked-label">
    <span class="input-label">City</span>
    <input type="text" ng-model="event['City']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">Comments</span>
    <input type="text" ng-model="event['Comments']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">Contact</span>
    <input type="text" ng-model="event['Contact']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">Day</span>
    <input type="text" ng-model="event['Day']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">EndTime</span>
    <input type="text" ng-model="event['EndTime']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">EventName</span>
    <input type="text" ng-model="event['EventName']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">Month</span>
    <input type="text" ng-model="event['Month']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">PosterName</span>
    <input type="text" ng-model="event['PosterName']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">Room</span>
    <input type="text" ng-model="event['Room']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">StartTime</span>
    <input type="text" ng-model="event['StartTime']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">State</span>
    <input type="text" ng-model="event['State']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">Street</span>
    <input type="text" ng-model="event['Street']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">Year</span>
    <input type="text" ng-model="event['Year']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">createdAt</span>
    <input type="text" ng-model="event['createdAt']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">objectId</span>
    <input type="text" ng-model="event['objectId']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">updatedAt</span>
    <input type="text" ng-model="event['updatedAt']">
  </label>
  

  <br>

  <button class="button button-block button-positive">Save</button>

</div>
