<div ng-controller="ShowController">
  <super-navbar>
    <super-navbar-title>
      Show
    </super-navbar-title>
  </super-navbar>

  <div class="padding">
    <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
    <div ng-hide="showSpinner">
	
	<h2><span ng-bind="event['EventName']"></span></h2> 
	      
      <p>Why: <span  ng-bind="event['Comments'].Comments"></span></p> 
       
       <p>Where: <span ng-bind="event['Location'].Room"></span>,  
	   <span ng-bind="event['Location'].Street"></span>, 
	   <span ng-bind="event['Location'].City"></span>, 
	   <span ng-bind="event['Location'].State"></span>
	   </p> 
      
       <p>Contacts: <span ng-bind="event['Comments'].Contact"></span></p> 
      
       <p>Time: From <span ng-bind="event['Time'].StartTime"></span> to <span ng-bind="event['Time'].EndTime"></span></p> 
      

      <super-modal-show location="event#edit?id={{ event.id }}">
        <button class="button button-block button-positive">
          Edit
        </button>
      </super-modal-show>

      <button ng-click="remove(event.id)" class="button button-block button-negative">
        Remove
      </button>
    </div>
  </div>
</div>
